@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("../components/WorksSlider/WorksSlider.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.hero video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

.hero video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

.display {
  font-family: "Bebas Neue", sans-serif;
}
